body {
  padding: 0;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  background-color: white; }

.spacer-30 {
  height: 30px; }

.shrinked-nav {
  animation: shrinkNav .5s;
  animation-fill-mode: forwards; }
  .shrinked-nav .nav-group img {
    height: 60px; }
  .shrinked-nav .nav-group li a {
    color: #474747; }

.cornerstone-nav {
  position: fixed;
  z-index: 1;
  top: 0px;
  background-color: rgba(223, 222, 215, 0.4);
  height: 100px;
  width: 100%;
  padding: 0; }
  .cornerstone-nav ul {
    list-style-type: none;
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%; }
    .cornerstone-nav ul img {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 25%; }
    .cornerstone-nav ul li {
      display: inline-block;
      margin-right: 50px;
      position: relative;
      left: 75%;
      font-size: 18px; }
      .cornerstone-nav ul li a {
        text-decoration: none;
        color: #474747; }
        .cornerstone-nav ul li a:hover {
          animation: whiteText .35s ease both; }
      .cornerstone-nav ul li:hover {
        cursor: pointer; }

.welcome {
  height: 100vh;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0; }
  .welcome img {
    width: 100%;
    height: 100%;
    animation: splashImage 2s 1s forwards;
    animation-timing-function: ease; }

.mission {
  position: absolute;
  top: 80%;
  left: 50%;
  color: whitesmoke;
  text-shadow: 1px 1px grey;
  opacity: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  animation: textSlideUp 2s 1s forwards; }
  .mission h1 {
    font-family: 'Satisfy', cursive;
    font-size: 60px; }
  .mission h3 {
    font-family: 'PT Serif', serif;
    font-size: 25px; }

.emergency-container {
  height: 750px; }
  .emergency-container img {
    height: 100%;
    width: 100%;
    filter: brightness(0.8) blur(1px); }
  .emergency-container .concerns {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 650px;
    width: 600px;
    color: whitesmoke; }
    .emergency-container .concerns a {
      text-decoration: none;
      color: whitesmoke; }
    .emergency-container .concerns h1 {
      font-family: 'Satisfy', cursive;
      font-size: 50px; }
    .emergency-container .concerns h2 {
      font-family: 'PT Serif', serif; }
    .emergency-container .concerns h4 {
      font-family: 'PT Serif', serif;
      font-size: 22px; }
      .emergency-container .concerns h4.title {
        font-family: 'Satisfy', cursive;
        font-size: 30px; }
    .emergency-container .concerns p.fp {
      position: absolute;
      right: -200px;
      bottom: -40px; }

.footer {
  height: 500px;
  background-color: #434954;
  color: whitesmoke; }
  .footer h4 {
    line-height: 30px;
    text-align: center; }
    .footer h4.call-txt {
      position: absolute;
      transform: translate(-50%, -50%);
      text-align: center;
      left: 53%; }
      .footer h4.call-txt:hover {
        cursor: pointer; }
  .footer .call-btn {
    position: absolute;
    transform: translate(-50%, -25%);
    left: 35%;
    font-size: 20px; }
    .footer .call-btn:hover {
      cursor: pointer; }
  .footer .col-md-4 {
    height: 500px; }
  .footer img {
    transform: translate(-50%, -50%);
    margin: 30% 0 0 50%; }
  .footer a {
    color: whitesmoke;
    text-decoration: none; }

.map-cont {
  height: 400px;
  width: 100%;
  padding: 0; }

.footer .col-md-4:nth-of-type(2) h3 {
  margin-bottom: 30px; }
.footer .col-md-4:nth-of-type(2) div:first-of-type {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 15px;
  width: 100%; }

.footer-form input {
  color: gray;
  font-size: 16px; }
  .footer-form input:focus {
    color: #474747; }
.footer-form label:nth-of-type(2) {
  margin-right: 160px; }
.footer-form input[name=First-Name] {
  margin-right: 30px; }
.footer-form input[name=Email-Address] {
  margin-right: 30px; }
.footer-form input[type=radio] {
  margin-right: 10px; }

.footer .col-md-4:nth-of-type(3) h5 {
  line-height: 30px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: left;
  padding: 0 15px; }

.call-hover {
  animation: slideIn 1.0s ease, scaleMe 1.0s ease;
  animation-fill-mode: forwards; }

@keyframes shrinkNav {
  100% {
    height: 60px;
    background-color: rgba(223, 222, 215, 0.9); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes slideIn {
  100% {
    left: 45%; } }
/************************
 ****** Team Page *******
 ************************/
.team-pg-nav ul li a {
  color: whitesmoke; }

.team-banner {
  height: 500px;
  width: 100vw;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0; }
  .team-banner img {
    height: 100%;
    width: 100%;
    animation: splashImage 2s 1s forwards ease; }

.team-txt {
  margin-top: 3%;
  height: 75px;
  width: 60%;
  position: absolute;
  opacity: 0;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
  animation: textSlideUp 2s 1s forwards ease; }
  .team-txt h1 {
    color: whitesmoke;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    text-shadow: 1px 1px gray; }

.team-img {
  height: 450px; }
  .team-img img {
    height: 100%;
    width: 100%; }

.team-about {
  height: 200px; }
  .team-about h4 {
    text-align: center;
    font-family: 'PT Serif', serif;
    line-height: 40px; }

.profiles .col-md-3 {
  padding: 0 50px;
  height: calc(width); }
  .profiles .col-md-3 img {
    width: 100%;
    height: 100%; }
    .profiles .col-md-3 img:hover {
      cursor: pointer; }
  .profiles .col-md-3 h3 {
    font-family: 'PT Serif', serif;
    text-align: center; }

@keyframes scaleMe {
  100% {
    transform: scale(2); } }
@keyframes splashImage {
  100% {
    filter: blur(1px) brightness(0.8); } }
@keyframes textSlideUp {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    top: 50%; } }
@keyframes whiteText {
  100% {
    color: whitesmoke; } }
@keyframes grayText {
  100% {
    color: gray; } }

/*# sourceMappingURL=main.css.map */
